// Contains stylings for components like buttons, icons 

// Buttons //
.btn {
 color: $white;
 text-decoration: none;
  @include md {
    padding: 40px 50px;;
    border-radius: 50%;
    font-size: 60px;
    outline: none;
    margin: 0 2em;
  }
  @include lg {
    padding: 30px 40px;
    border-radius: 50%;
    font-size: 40px;
    outline: none;
    margin: 0 2em;
  }
}

.btn--blue {
  @include button-bg($themeColor-KashmirBlue);
}


// Icons //
.fa-copyright {
  margin-right: .5em;
}
